name: Postman Collection Two

on:
  push:
    branches: [main]
  workflow_dispatch: 
  schedule:
    - cron: '30 2 * * *'


jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
       - name: Checking out the code
         uses: actions/checkout@v4

       - name: Setup Node
         uses: actions/setup-node@v4
         with: 
           node-version: 18

       - name: Install newman
         run: |
           npm install -g newman
           npm install -g newman-reporter-htmlextra
        
       - name: Run Collection
         run: |
           newman run PheonixCollection.postman_collection.json \
             -e QA.postman_environment.json \
             -d TestData.csv \
             -r cli,htmlextra
        
       - name: Upload Report
         if: always()
         uses: actions/upload-artifact@v4
         with: 
           name: newman-rtml-report
           path: newman/*.html
    
      
            
      
     
    
    
  
  
  
    
